.App-body {
  text-align: center;
  background-color: lightgray;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.form-container {
  height: 80%;
  width: 80%;
  margin: 0 auto;

  background-color: #eee;
}
